/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "FiraGO";
  src: url("../fonts/FiraGO-Book.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "FiraGO";
  src: url("../fonts/FiraGO-Regular.ttf") format("truetype");
  font-weight: 350;
  font-style: normal;
}
@font-face {
  font-family: "FiraGO";
  src: url("../fonts/FiraGO-Book.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "FiraGO";
  src: url("../fonts/FiraGO-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "FiraGO";
  src: url("../fonts/FiraGO-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}
body .main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .main section {
  width: 101.25rem;
}
body .main h2 {
  font-size: 2.813rem;
  font-family: FiraGO;
  font-weight: 700;
  line-height: 3.375rem;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(65, 138, 205);
}
body .main .hide {
  display: none;
}
body .main .music-notes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 114.375rem;
  height: -moz-fit-content;
  height: fit-content;
  z-index: -10;
}
body .main .music-notes .note {
  position: absolute;
  font-size: 5rem;
  color: rgb(91, 173, 248);
  animation: noteMove 1s ease-in-out infinite;
}

@media (max-width: 120rem) {
  body .main section {
    width: 61.875rem;
  }
  body .main h2 {
    font-size: 2.1875rem;
    line-height: 2.62rem;
  }
  body .main .music-notes {
    max-width: 74.375rem;
  }
  body .main .music-notes .note {
    font-size: 4rem;
  }
}
header .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(91, 173, 248);
  width: 114.375rem;
  height: 7.813rem;
  margin: 1.875rem 2.75rem;
  border-radius: 6.25rem;
  padding: 0.625rem 6.313rem;
}
header .menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .menu ul li {
  list-style: none;
  margin-right: 2.813rem;
}
header .menu ul li .menu-link {
  width: 18.813rem;
  height: 3.75rem;
  padding: 0.938rem 2.188rem;
  border-radius: 1.25rem;
  gap: 0.625rem;
  color: rgb(255, 255, 255);
  font-family: firaGO;
  font-weight: 500;
  font-size: 1.563rem;
  line-height: 1.875rem;
  text-align: center;
  transition: all 0.3s ease-out;
  cursor: pointer;
}
header .menu ul li .menu-link:hover, header .menu ul li .menu-link.active {
  background-color: rgb(65, 138, 205);
}

@media (max-width: 120rem) {
  header .menu {
    margin: 1rem 2.75rem;
    width: 74.375rem;
    height: 6.25rem;
  }
  header .menu .logo img {
    width: 5.375rem;
    height: 5.5rem;
  }
  header .menu ul li .menu-link {
    width: 13.0625rem;
    height: 3rem;
    font-size: 0.9375rem;
    line-height: 1.125rem;
  }
}
.about-project-title {
  margin: 2.688rem 3.063rem;
}
.about-project-title .text-container .text-container-paragraphs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.563rem;
  gap: 3.938rem;
}
.about-project-title .text-container .text-container-paragraphs .text-container-paragraph {
  width: 48.938rem;
  height: 14.688rem;
  font-family: FiraGO;
  font-size: 1.563rem;
  font-weight: 300;
  line-height: 1.875rem;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(0, 0, 0);
}
.about-project-title .text-container .text-container-paragraphs .text-container-paragraph:nth-child(2) {
  width: 48.375rem;
}

.slider.swiper {
  width: 100%;
  height: 47.25rem;
  border-radius: 1.875rem;
  margin-bottom: 4.563rem;
}
.slider.swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgb(255, 255, 255);
}
.slider.swiper .swiper-slide img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider.swiper .swiper-button-prev,
.slider.swiper .swiper-button-next {
  width: 5.625rem;
  height: 5.625rem;
  background-color: rgb(91, 173, 248);
  border-radius: 6.25rem;
  transition: all 0.3s ease-out;
  font-weight: 700;
}
.slider.swiper .swiper-button-prev::after,
.slider.swiper .swiper-button-next::after {
  position: absolute;
  font-size: 2.25rem;
  color: rgb(255, 255, 255);
}
.slider.swiper .swiper-button-prev.swiper-button-prev::after,
.slider.swiper .swiper-button-next.swiper-button-prev::after {
  left: 2.031rem;
}
.slider.swiper .swiper-button-prev.swiper-button-next::after,
.slider.swiper .swiper-button-next.swiper-button-next::after {
  right: 2.031rem;
}
.slider.swiper .swiper-button-prev:hover,
.slider.swiper .swiper-button-next:hover {
  background-color: rgb(65, 138, 205);
}

.project-team {
  margin-bottom: 4.188rem;
}
.project-team h2 {
  margin-bottom: 2.75rem;
}
.project-team .project-team-wrapper {
  width: 61.198rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 4.375rem;
       column-gap: 4.375rem;
  row-gap: 3.5rem;
}
.project-team .project-team-wrapper .card {
  display: flex;
  justify-content: space-between;
  align-items: left;
  flex-direction: column;
  width: 30.813rem;
  height: 11.875rem;
  border: 0.25rem solid rgb(91, 173, 248);
  border-radius: 0.938rem;
  padding: 1.438rem 1.75rem;
  color: rgb(0, 0, 0);
  font-family: FiraGO;
}
.project-team .project-team-wrapper .card:hover {
  cursor: pointer;
}
.project-team .project-team-wrapper .card .card-header h3 {
  font-weight: 500;
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-bottom: 0.5rem;
}
.project-team .project-team-wrapper .card .card-header p {
  font-weight: 350;
  font-size: 1.25rem;
  line-height: 1.5rem;
}
.project-team .project-team-wrapper .card .email {
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

@media (max-width: 120rem) {
  .about-project-title {
    margin: 2.125rem 3.063rem;
  }
  .about-project-title .text-container .text-container-paragraphs {
    margin-top: 1.25rem;
    gap: 2.938rem;
  }
  .about-project-title .text-container .text-container-paragraphs .text-container-paragraph {
    width: 29.375rem;
    height: 9rem;
    font-size: 0.9375rem;
    line-height: 1.125rem;
  }
  .about-project-title .text-container .text-container-paragraphs .text-container-paragraph:nth-child(2) {
    width: 29.375rem;
  }
  .slider.swiper {
    height: 28.5625rem;
    margin-bottom: 3.44rem;
  }
  .slider.swiper .swiper-button-prev,
  .slider.swiper .swiper-button-next {
    width: 2.8125rem;
    height: 2.8125rem;
  }
  .slider.swiper .swiper-button-prev::after,
  .slider.swiper .swiper-button-next::after {
    font-size: 0.875rem;
  }
  .slider.swiper .swiper-button-prev.swiper-button-prev::after, .slider.swiper .swiper-button-prev.swiper-button-next::after,
  .slider.swiper .swiper-button-next.swiper-button-prev::after,
  .slider.swiper .swiper-button-next.swiper-button-next::after {
    left: auto;
    right: auto;
  }
  .project-team {
    margin-bottom: 3.35rem;
  }
  .project-team h2 {
    margin-bottom: 1.875rem;
  }
  .project-team .project-team-wrapper {
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 3.2rem;
         column-gap: 3.2rem;
    row-gap: 1.563rem;
  }
  .project-team .project-team-wrapper .card {
    width: 29.3125rem;
    height: 8.3125rem;
    border: 0.125rem solid rgb(91, 173, 248);
    padding: 0.9rem 1.1rem;
  }
  .project-team .project-team-wrapper .card .card-header h3 {
    font-size: 1.4375rem;
    line-height: 1.725rem;
    margin-bottom: 0.75rem;
  }
  .project-team .project-team-wrapper .card .card-header p {
    font-size: 0.9375rem;
    line-height: 1.125rem;
  }
  .project-team .project-team-wrapper .card .email {
    font-size: 0.9375rem;
    line-height: 1.125rem;
  }
}
.video-container .tutotial-heading {
  margin-top: 2.688rem;
}
.video-container video {
  margin: 2.813rem 0;
}

@media (max-width: 120rem) {
  .video-container .tutotial-heading {
    margin-top: 2.125rem;
  }
  .video-container video {
    margin: 2rem 0;
    width: 980px;
    height: 390px;
  }
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
footer .footer-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 101.25rem;
  margin-top: 0.438rem;
  margin-bottom: -1.563rem;
  z-index: 100;
  gap: 4.375rem;
}
footer .footer-images .notes {
  position: relative;
  width: 100%;
  height: 27rem;
}
footer .footer-images .notes .note {
  position: absolute;
}
footer .footer-images .notes .note:nth-child(1) {
  top: 1.875rem;
  left: 0;
}
footer .footer-images .notes .note:nth-child(2) {
  top: 15rem;
  left: 0.75rem;
}
footer .footer-images .notes .note:nth-child(3) {
  top: 18.75rem;
  left: 10rem;
}
footer .footer-images .notes .note:nth-child(4) {
  top: 5rem;
  left: 16.875rem;
}
footer .footer-images .notes .note:nth-child(5) {
  top: 16.875rem;
  left: 21.125rem;
}
footer .footer-images .notes .note:nth-child(6) {
  top: 7.5rem;
  left: 28.5rem;
}
footer .download {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 20.875rem;
  background-color: rgb(65, 138, 205);
  font-family: firaGO;
  font-weight: 500;
  font-size: 1.875rem;
  line-height: 2.25rem;
  color: rgb(255, 255, 255);
}
footer .download .windows {
  text-align: center;
}
footer .download .windows h3 {
  line-height: 52px;
}
footer .download .windows h3 span {
  display: block;
  font-weight: 500;
}
footer .download .download-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.375rem;
  margin-top: 2rem;
}
footer .download .download-btns .download-btn {
  width: 16.875rem;
  height: 4.625rem;
  border: none;
  border-radius: 1.25rem;
  padding: 1.563rem 2.188rem;
  font-family: firaGO;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
  background-color: rgb(255, 255, 255);
  color: rgb(7, 0, 47);
  cursor: pointer;
  transition: all 0.3s ease-out;
}
footer .download .download-btns .download-btn:hover {
  background-color: rgb(91, 173, 248);
}
footer .download p {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5rem;
}
footer .download p a {
  color: rgb(255, 255, 255);
  font-weight: 700;
}

@media (max-width: 120rem) {
  footer .footer-images {
    width: 74.375rem;
    margin-top: 0.438rem;
    gap: 2.5625rem;
  }
  footer .footer-images > img {
    width: 20.79rem;
  }
  footer .footer-images .notes {
    height: 20.79rem;
  }
  footer .footer-images .notes .note {
    position: absolute;
  }
  footer .footer-images .notes .note:nth-child(1) {
    top: 1rem;
    left: 0;
  }
  footer .footer-images .notes .note:nth-child(2) {
    top: 10.5rem;
    left: 0.5rem;
  }
  footer .footer-images .notes .note:nth-child(3) {
    top: 13.19rem;
    left: 8.125rem;
  }
  footer .footer-images .notes .note:nth-child(4) {
    top: 3.813rem;
    left: 14.25rem;
  }
  footer .footer-images .notes .note:nth-child(5) {
    top: 12.44rem;
    left: 18.06rem;
  }
  footer .footer-images .notes .note:nth-child(6) {
    top: 5.63rem;
    left: 24.44rem;
  }
  footer .download {
    height: 14rem;
    font-size: 1.5625rem;
    line-height: 2.5rem;
    font-weight: 350;
  }
  footer .download .download-btns {
    gap: 2.375rem;
    margin-top: 1rem;
  }
  footer .download .download-btns .download-btn {
    width: 13.0625rem;
    height: 3rem;
    font-size: 0.9375rem;
    line-height: 1.125rem;
    padding: 0.625rem;
  }
  footer .download p {
    font-size: 0.9375rem;
    line-height: 1.125rem;
  }
}
@keyframes noteMove {
  0%, 100% {
    transform: translate3d(0, -10px, 0);
  }
  50% {
    transform: translate3d(0, 10px, 0);
  }
}/*# sourceMappingURL=global.css.map */