@keyframes noteMove {
  0%,
  100% {
    transform: translate3d(0, -10px, 0);
  }
  50% {
    transform: translate3d(0, 10px, 0);
  }
}

@keyframes showBurgerMenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
