@font-face {
  font-family: "FiraGO";
  src: url("../fonts/FiraGO-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "FiraGO";
  src: url("../fonts/FiraGO-Regular.ttf") format("truetype");
  font-weight: 350;
  font-style: normal;
}

@font-face {
  font-family: "FiraGO";
  src: url("../fonts/FiraGO-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "FiraGO";
  src: url("../fonts/FiraGO-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
