footer {
  @include display_flex();
  flex-direction: column;
  width: 100%;

  .footer-images {
    @include display_flex(space-between);
    width: 101.25rem;
    margin-top: 0.438rem;
    margin-bottom: -1.563rem;
    z-index: 100;
    gap: 4.375rem;

    .notes {
      position: relative;
      width: 100%;
      height: 27rem;

      $note-positions: (
        (1.875rem, 0),
        (15rem, 0.75rem),
        (18.75rem, 10rem),
        (5rem, 16.875rem),
        (16.875rem, 21.125rem),
        (7.5rem, 28.5rem)
      );

      .note {
        position: absolute;

        @for $i from 1 through 6 {
          $position: nth($note-positions, $i);
          $top: nth($position, 1);
          $left: nth($position, 2);

          &:nth-child(#{$i}) {
            top: $top;
            left: $left;
          }
        }

        &.hide {
          display: none;
        }
      }
    }
  }

  .download {
    @include display_flex(space-evenly);
    flex-direction: column;
    width: 100%;
    height: 20.875rem;
    background-color: $darkBlueColor;
    font-family: firaGO;
    font-weight: 500;
    font-size: 1.875rem;
    line-height: 2.25rem;
    color: $whiteColor;

    .windows {
      text-align: center;
      h3 {
        line-height: 3.25rem;
        span {
          display: block;
          font-weight: 500;
        }
      }
    }

    .download-btns {
      @include display_flex();
      gap: 4.375rem;
      margin-top: 2rem;

      .download-btn {
        width: 16.875rem;
        height: 4.625rem;
        border: none;
        border-radius: 1.25rem;
        padding: 1.563rem 2.188rem;
        font-family: firaGO;
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 1.5rem;
        background-color: $whiteColor;
        color: $lightBlackColor;
        cursor: pointer;
        transition: all 0.3s ease-out;

        &:hover {
          background-color: $blueColor;
        }
      }
    }
    p {
      font-weight: 400;
      font-size: 1.25rem;
      line-height: 1.5rem;

      a {
        color: $whiteColor;
        font-weight: 700;
      }
    }
  }
}

@media (max-width: 120rem) {
  footer {
    .footer-images {
      width: 74.375rem;
      margin-top: 0.438rem;
      gap: 2.5625rem;
      & > img {
        width: 20.79rem;
      }

      .notes {
        height: 20.79rem;

        $note-positions: (
          (1rem, 0),
          (10.5rem, 0.5rem),
          (13.19rem, 8.125rem),
          (3.813rem, 14.25rem),
          (12.44rem, 18.06rem),
          (5.63rem, 24.44rem)
        );

        .note {
          position: absolute;

          @for $i from 1 through 6 {
            $position: nth($note-positions, $i);
            $top: nth($position, 1);
            $left: nth($position, 2);

            &:nth-child(#{$i}) {
              top: $top;
              left: $left;
            }
          }
        }
      }
    }

    .download {
      height: 14rem;
      font-size: 1.5625rem;
      line-height: 2.5rem;
      font-weight: 350;

      .download-btns {
        gap: 2.375rem;
        margin-top: 1rem;

        .download-btn {
          width: 13.0625rem;
          height: 3rem;
          font-size: 0.9375rem;
          line-height: 1.125rem;
          padding: 0.625rem;
        }
      }
      p {
        font-size: 0.9375rem;
        line-height: 1.125rem;
      }
    }
  }
}

@media (max-width: 80rem) {
  footer {
    .footer-images {
      width: 45.5rem;
      margin-top: 2.8125rem;
      gap: 1rem;
      margin-bottom: -0.625rem;
      & > img {
        width: 12.5rem;
      }

      .notes {
        height: 11.147rem;

        $note-positions: (
          (2.5rem, 0),
          (6.5rem, 8.06rem),
          (7.06rem, 1.75rem),
          (2.125rem, 10rem),
          (6.25rem, 15rem),
          (2.625rem, 3.5rem),
          (8.5rem, 12rem),
          (1.81rem, 15rem),
          (0rem, -0.19rem),
          (-2.94rem, 6.81rem),
          (-3.875rem, 20.31rem)
        );

        .note {
          position: absolute;
          height: 30px;

          &.key {
            height: 66.41px;
          }

          &.hide {
            display: block;
          }

          &.tab {
            height: initial;
          }

          @for $i from 1 through 11 {
            $position: nth($note-positions, $i);
            $top: nth($position, 1);
            $left: nth($position, 2);

            &:nth-child(#{$i}) {
              top: $top;
              left: $left;
            }
          }
        }
      }
    }

    .download {
      height: 9.6875rem;
      font-size: 1.125rem;
      line-height: 1.35rem;

      .windows {
        h3 {
          line-height: 1.35rem;
        }
      }

      .download-btns {
        gap: 1.5rem;
        margin-top: 0.2rem;

        .download-btn {
          width: 11rem;
          height: 2.5rem;
          font-size: 0.875rem;
          line-height: 1.05rem;
          padding: 0.2rem;
          margin-top: 0.625rem;
        }
      }
      p {
        font-size: 0.875rem;
        line-height: 1.055rem;
      }
    }
  }
}

@media (max-width: 48rem) {
  footer {
    .footer-images {
      width: 19.25rem;
      margin-top: 2.125rem;
      gap: 2rem;
      margin-bottom: -0.375rem;
      & > img {
        width: 7.5rem;
      }

      .notes {
        height: 7.2rem;

        $note-positions: (
          (2.5rem, 0),
          (-0.8125rem, -9.125rem),
          (-1.125rem, 0rem),
          (2.125rem, 10rem),
          (0.84rem, 7rem),
          (2.625rem, 3.5rem),
          (8.5rem, 12rem),
          (1.81rem, 15rem),
          (-2rem, -4.285rem),
          (-2.94rem, 6.81rem),
          (4.45rem, 0.44rem)
        );

        .note {
          height: 1rem;

          &:nth-child(3) {
            height: 1.375rem;
          }

          &:nth-child(9) {
            height: 0.625rem;
            transform: scaleX(-1);
          }

          &:nth-child(11) {
            height: 1rem;
            transform: scaleX(-1);
          }

          &:nth-child(1),
          &:nth-child(4),
          &:nth-child(6),
          &:nth-child(7),
          &:nth-child(8),
          &:nth-child(10) {
            display: none;
          }

          @for $i from 1 through 11 {
            $position: nth($note-positions, $i);
            $top: nth($position, 1);
            $left: nth($position, 2);

            &:nth-child(#{$i}) {
              top: $top;
              left: $left;
            }
          }
        }
      }
    }

    .download {
      height: 5.75rem;
      font-size: 0.75rem;
      line-height: 0.75rem;

      .windows {
        h3 {
          line-height: 0.75rem;
        }
      }

      .download-btns {
        gap: 1rem;
        margin-top: 0.1rem;

        .download-btn {
          width: 8rem;
          height: 1.5rem;
          font-size: 0.625rem;
          line-height: 0.75rem;
          padding: 0.1rem;
          margin-top: 0.5rem;
        }
      }
      p {
        font-size: 0.625rem;
        line-height: 0.75rem;
      }
    }
  }
}
