header {
  .menu {
    @include display_flex(space-between);
    background-color: $blueColor;
    width: 114.375rem;
    height: 7.813rem;
    margin: 1.875rem 2.75rem;
    border-radius: 6.25rem;
    padding: 0.625rem 6.313rem;

    ul {
      @include display_flex();

      li {
        list-style: none;
        margin-right: 2.813rem;

        .menu-link {
          width: 18.813rem;
          height: 3.75rem;
          padding: 0.938rem 2.188rem;
          border-radius: 1.25rem;
          gap: 0.625rem;
          color: $whiteColor;
          font-family: firaGO;
          font-weight: 500;
          font-size: 1.563rem;
          line-height: 1.875rem;
          text-align: center;
          transition: all 0.3s ease-out;
          cursor: pointer;

          &:hover,
          &.active {
            background-color: $darkBlueColor;
          }
        }
      }
    }
  }
}

@media (max-width: 120rem) {
  header {
    .menu {
      margin: 1rem 2.75rem;
      width: 74.375rem;
      height: 6.25rem;

      .logo {
        img {
          width: 5.375rem;
          height: 5.5rem;
        }
      }

      ul {
        li {
          .menu-link {
            width: 13.0625rem;
            height: 3rem;
            font-size: 0.9375rem;
            line-height: 1.125rem;
          }
        }
      }
    }
  }
}

@media (max-width: 80rem) {
  header {
    .menu {
      width: 45.5rem;
      height: 3.5rem;
      margin: 1.1875rem 0;
      padding: 0.5rem 1.875rem;

      .logo {
        img {
          width: 2.5rem;
          height: 2.56rem;
        }
      }
      ul {
        li {
          margin-right: 0.5rem;
          .menu-link {
            width: 10.3125rem;
            height: 1.9375rem;
            padding: 0.5rem 1.125rem;
            font-weight: 400;
            font-size: 0.875rem;
            line-height: 1.05rem;
          }
        }
      }
    }
  }
}
