.video-container {
  .tutotial-heading {
    margin-top: 2.688rem;
  }

  video {
    margin: 2.813rem 0;
  }
}

@media (max-width: 120rem) {
  .video-container {
    .tutotial-heading {
      margin-top: 2.125rem;
    }
    video {
      margin: 2rem 0;
      width: 61.25rem;
      height: 24.375rem;
    }
  }
}

@media (max-width: 80rem) {
  .video-container {
    .tutotial-heading {
      margin-top: 0.5625rem;
    }
    video {
      margin: 1.75rem 0;
      width: 41.75rem;
      height: 18.8125rem;
    }
  }
}
